.jumbotron {
    text-align: center;
    padding-top: 17vw;
    padding-bottom: 125px;
    margin-top: 5px;
}
.cont-desc {
    width: 600px;
    margin: auto;
}

@media screen and (max-width:800px) {
    .jumbotron {
        padding-top: 400px;
        width: 100%;
    }
    .cont-desc {
        width: 360px;
    }
}