.main-cont-skills {
    width: 100%;
    height: 100%;
    /* background-image: url(../../images/bgSuccess.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
.skills-content {
    padding-top: 100px;
    height: 100%;
}