.main-cont-skills {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.skills-content {
    padding-top: 100px;
    background-color: rgba(137, 43, 226, 0.418);
    height: 100%;
}